<div class="custom_sql_form">
  <% form_for [@datab, @sql] do |f| %>
	<% if @sql && !@sql.errors.empty? %>
    <div class="sql_error"><%= h @sql.errors[:body].message %></div>
	<% end %>
	default database used is : <%= @datab.name %>
    <div class="field">
      <%= f.text_area :body %>
    </div>
    <div class="field">
      <%= f.submit button_text %> or <%= link_to 'show previous requests', datab_sqls_path %>
    </div>
  <% end %>
</div>
