<h1>Listing sqls</h1>

<table>
  <tr>
  </tr>
<% for sql in @sqls %>
  <tr>
    <td><%= sql.body %></td>
    <td><%= link_to 'Show', [@datab, sql] %></td>
    <td><%= link_to 'Edit', edit_datab_sql_path(@datab, sql) %></td>
    <td><%= link_to 'Destroy', [@datab, sql], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sql', new_datab_sql_path(@datab) %>
