<% @title = 'Listing last SQL requests of this session' %>

<table>
  <tr>
  </tr>
<% for sql in @sqls %>
  <tr>
	<td><%= link_to image_tag('delete.png', :title => 'destroy this request', :style=>'border:none'), [@datab, sql], :method => :delete %></td>    
	<td><%= sql.body %></td>
	<td>(<%= sql.num_rows %> results)</td>
    <td><%= link_to 'Show', [@datab, sql] %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sql', new_datab_sql_path(@datab) %>
