<% @title = 'Listing available databases' %>

<table>
  <tr>
  </tr>

<% for datab in @databs %>
  <tr>
	  <td><%= datab.name %></td>
    <td><%= link_to 'Show', datab %></td>
    <td><%= link_to 'Edit', edit_datab_path(datab) %></td>
    <td><%= link_to 'Destroy', datab, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New datab', new_datab_path %>
