<% @title = 'Listing available databases' %>

<div class="home-information create-database">
  <h2>Create a new database</h2>
  <% form_for @datab do |f| %>
    <div class="field">
    	<%= f.label :name, 'Name' %>
    	<%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :collation, 'Collation' %>
      <%= select_tag 'datab[collation]', option_groups_from_collection_for_select(Datab::Collations, "values or []", "title", "value", "title"), :id => 'datab_collation' %>
      <%= f.submit 'Create' %>
    </div>
  <% end %>
</div>

<div class="home-information server-information">
  <h2>Server information</h2>
  <table class="database-content">
    <tr>
      <td>Server version:</td>
      <td><em><%= @server_version %></em></td>
    </tr>
    <tr>
      <td>Server:</td>
      <td><em><%= @server %></em></td>
    </tr>
    <tr>
      <td>User:</td>
      <td><em><%= session[:username] %></em></td>
    </tr>
  </table>
</div>

<table class="database-content sortable alternate-rows">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Tables</th>
  </tr>
<% for datab in @databs %>
  <tr>
	  <td><%= link_to image_tag('delete.png', :title => 'destroy this database'), datab_path(datab), :method => :delete, :confirm => 'Are you sure you want delete this database?' %></td>
	  <td><%= link_to datab.name, datab %></td>
	  <td><%= datab.tables.size %></td>
  </tr>
<% end %>
</table>
