<% if row[column.name].is_a?(Fixnum) && !column.is_a?(ForeignKey) %>
<td class="int">
<% else %>
<td>
<% end %>

<% case column
when ForeignKey %>
  <% if r = column.dest.ar_class.find_by_id(row[column.name]) %>
    <span class='foreign_key_id'>
      #<%= editable_field row, column, string(row[column.name].to_s) %>
    </span>
	<%= link_to most_likely_name(r), datab_table_row_path(column.dest.db, column.dest, r.id) %>
  <% else %>
    <% row[column.name] %>
  <% end %>
<% else %>
  <% case row[column.name]
  when nil %>
    <%= editable_field row, column, string(row[column.name]) %>
  <% when Fixnum %>
    <%= editable_field row, column, number_delimited(row[column.name]) %>
  <% when DateTime, Time, Date %>
    <%= editable_field row, column, row[column.name] %>
  <% when String %>
    <%= editable_field row, column, string(row[column.name]) %><br/>
	  <%= analyze_value row[column.name] %>
  <% when TrueClass, FalseClass %>
    <%= yes_no row[column.name] %>
  <% else %>
    <%= row[column.name].to_s %>
  <% end %>
<% end %>
</td>
