<% @title = @table.name %>
<%= render :partial => '/tables/submenu' %>

<% if @rows %>
  <% if @rows.empty? %>
  	<div class="notification">This table is empty</div>
  <% else %>
	<%= 1 + (@page.to_i - 1) * session[:per_page] %> - <%= (@page.to_i - 1) * session[:per_page] + @rows.size %>  of <%= number_with_delimiter @table.rows %></b> records

  	<%= render :partial => "/tables/browse", :locals => {
  	      :columns => @columns,
  	      :rows => @rows
  	  } %>

	rows per page: 
		<select onchange="onchange_show_rows(this.value)">
				<% [10,25,50,100,200,500].each do |r| %>
					<option value="<%= r %>"<%= 'selected="selected"' if r == session[:per_page] %>>
					  <%= r %>
					</option>
				<% end %>
			</select>
	  		<script type="text/javascript" charset="utf-8">
				function onchange_show_rows(per_page) { 
						window.location = '<%= datab_table_path(@datab, @table) %>?per_page=' + per_page
				}
			</script>
  <% end%>
<% else %>
	
	<h3><%= @table.fields.size %> Columns</h3>
	<h4><%= number_with_delimiter @table.rows%> records</h4>
	<table class="database-content sortable alternate-rows">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Null</th>
				<th>Default</th>
				<th>Extra</th>
			</tr>
		</thead>
		<tbody>
			<% for field in @table.fields %>
			<tr>
				<th>
					<% column = @columns.find {|c| c.name == field[:name]} %>
					<% if column.is_a? ForeignKey %>
						<%= link_to column.name, datab_table_path(column.dest.db, column.dest) %>
					<% else %>
						<%= column.name %>
					<% end %>
				</td>
				<td><%= field[:type] %></td>
				<td><%= field[:null] %></td>
				<td><%= field[:default] %></td>
				<td><%= field[:extra] %></td>
				
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<% if @table.indexes %>
	<h3>Indexes</h3>
	<table>
		<thead>
			<tr><th>Name</th><th>Columns</th><th>Unique</th><th>Cardinality</th></tr>
		</thead>
		<tbody>
			<% for index in @table.indexes %>
			<tr><td><%= index[:name] %></td><td><%= index[:columns] %></td><td><%= index[:unique] %></td><td><%= index[:cardinality] %></td></tr>
			<% end %>
		</tbody>
	</table>
	<% end %>

<% end %>

<%= render :partial => 'navigator' %>