<%= @table.name %>

<% if @rows %>
  <%= render :partial => "/tables/browse", :locals => {:columns => @columns, :rows => @rows} %>
<% else %>
	<ul>
	<% for column in @columns %>
	<li><%= column.name %></li>
	<% end %>
	</ul>
	<%= link_to 'Browse', params.merge(:browse => '') %>
<% end %>

<%= link_to 'Edit', edit_datab_table_path(@table.db, @table) %>

<%= render :partial => "/graphs/graph", :collection => @columns, :locals => {
  :table => @table,
  :type => "pie",
  :width => 400,
  :height => 400
} %>
<% content_for :sidebar do %>
<%= render :partial => 'tables' %>
<% end %>