<% @title = @table.name %>

<% if @rows %>
  <%= render :partial => "/tables/browse", :locals => {:columns => @columns, :rows => @rows} %>
<% else %>
	
	<h3>Columns</h3>
	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Type</td>
				<td>Null</td>
				<td>Default</td>
				<td>Extra</td>
			</tr>
		</thead>
		<tbody>
			<% for field in @table.fields %>
			<tr>
				<td>
					<% column = @columns.find {|c| c.name == field[:name]} %>
					<% if column.is_a? ForeignKey %>
						<%= link_to column.name, datab_table_path(column.dest.db, column.dest) %>
					<% else %>
						<%= column.name %>
					<% end %>
				</td>
				<td><%= field[:type] %></td>
				<td><%= field[:null] %></td>
				<td><%= field[:default] %></td>
				<td><%= field[:extra] %></td>
				
			</tr>
			<% end %>
		</tbody>
	</table>
	
	<% if @table.indexes %>
	<h3>Indexes</h3>
	<table>
		<thead>
			<tr><th>Name</th><th>Columns</th><th>Unique</th><th>Cardinality</th></tr>
		</thead>
		<tbody>
			<% for index in @table.indexes %>
			<tr><td><%= index[:name] %></td><td><%= index[:columns] %></td><td><%= index[:unique] %></td><td><%= index[:cardinality] %></td></tr>
			<% end %>
		</tbody>
	</table>
	<% end %>
	
	<%= link_to 'Browse', params.merge(:browse => '') %>
<% end %>

<%= link_to 'Edit', edit_datab_table_path(@table.db, @table) %>

<%= render :partial => "/graphs/graph", :collection => @columns, :locals => {
  :table => @table,
  :type => "pie",
  :width => 400,
  :height => 400
} %>
<% content_for :sidebar do %>
<div id="table_navigator"></div>
<script type="text/javascript" charset="utf-8">
new TableNavigator(
[
<%= render :partial => @datab.tables %>
], 'table_navigator')
</script>
<% end %>