<%= @table.name %>

<% if @rows %>
	<table>
		<thead>
		<tr>
		<% for column in @columns %>
			<th>
				<%= column.name %>
				<%= link_to 'up', params.merge(:order => column.name, :page => nil) %>
				<%= link_to 'down', params.merge(:order => "#{column.name} desc", :page => nil) %>
			</th>
		<% end %>
		</tr>
		</thead>
		<tbody>
		<% for row in @rows %>
		<tr>
			<% for column in @columns %>
			<td>
			  <%= render :partial => "/tables/field", :locals => {
			    :value => row[column.name],
			    :column => column
			  } %>
			</td>
			<% end %>
		</tr>
		<% end %>
		</tbody>
	</table>
	<%= will_paginate @rows %>
<% else %>
	<ul>
	<% for column in @columns %>
	<li><%= column.name %></li>
	<% end %>
	</ul>
	<%= link_to 'Browse', params.merge(:browse => '') %>
<% end %>

<%= link_to 'Edit', edit_datab_table_path(@table.db, @table) %>

<%# if @table.ar_class.attributes[:created_at] or @table.ar_class.attributes[:created_on] %>
<%# end %>
