<script type="text/javascript" charset="utf-8">
  function select_modifier(modifier, attribute) {
    var e = $('search_' + attribute)
    if (modifier == "is_null" || modifier == "is_not_null") {
      e.disabled = true
    } else {
      e.disabled = false
    }
  }
</script>

<% form_for [@datab, @table, @search] do |f| %>
  <%= f.error_messages %>

  <table class="fields">
    <% for field in @table.fields %>
      <% column = @row.class.columns.detect { |c| c.name == field.name} %>
      <tr>
        <td><%= f.label field.name, column.human_name %></td>
        <td>
          <%= select_tag "modifiers[#{field.name}]",
                options_for_select(@search.options_for(field.name),
                  (@search.modifiers[field.name].to_sym rescue nil)),
                :onchange => "select_modifier(this.value, '#{field.name}')" %>
        </td>
        <td><%= field_for field.name, column, f %></td>
      </tr>
    <% end %>
  </table>

  <p>
    <%= f.submit button_text %>
  </p>
<% end %>
