<div class="header">
	<h1 class="title"><%= link_to "<i>rb</i>DB", databs_path %></h1>

	<div class="db-selection">
		
		
		<p>
		  <b><%= session[:username] %></b> |
		  <%= link_to 'settings', settings_path %> |
		  <%= link_to 'logout', :controller => 'accounts', :action => 'logout' %>
		<p/>
		
		<script type="text/javascript" charset="utf-8">
			function onchange_database(url) { 
					window.location = (url == "") ? '<%= databs_path %>' : url
			}
		</script>
		   my databases: 
		   <select onchange="onchange_database(this.value)" class="database-selector" accesskey="d" title="Access key: d">
				<option value=""></option>
				<% current_prefix = nil %>
				<% Datab.all.each do |db| %>
				  <% s = db.name.split('_') %>
				  <% prefix, suffix = s.size < 2 ? [nil, db.name] : [s[0..-2].join('_'), s.last] %>
				  <% if current_prefix != prefix %>
				    <%= '</optgroup>' if current_prefix %>
				    <% if prefix %>
  				    <optgroup label="<%= prefix %>">
  				  <% end %>
				    <% current_prefix = prefix %>
				  <% end %>
				  <% selected = (@datab and @datab.name == db.name) %>
					<option value="<%= datab_url(db.id) %>"<%= 'selected="selected"' if selected %>>
					  <%= suffix %>
					</option>
				<% end %>
			</select>
	</div>

	<ul class="menu">
	  <%= menu = [
          { :title => 'Databases', :path => databs_path },
          {
            :title => 'Tables',
            :path => datab_path(@datab),
            :if => (@datab and !@datab.new_record?)
          },
          {
            :title => 'SQL Query',
            :path => new_datab_sql_path(@datab),
            :if => (@datab and !@datab.new_record?)
          },
          { :title => 'Import/Export', :path => nil },
          { :title => 'Report', :path => nil },
          {
            :title => 'Environment',
            :path => environments_path,
            :if => (@datab and @datab.new_record? or request.path == environments_path)
          }
	      ]
	      menu.map do |entry|
	        next if entry.has_key?(:if) and !entry[:if]
	        active = request.path == entry[:path]
	        v = entry[:path].nil? ? entry[:title] : link_to(entry[:title], entry[:path])
	        "<li#{' class="current"' if active}>#{v}</li>"
    	  end.join %>
	</ul>
</div>