<div class="header">
	<h1 class="title"><%= link_to "<i>rb</i>DB", databs_path %></h1>

	<div class="db-selection">
		
		
		<p><b><%= session[:username] %></b> | setttings | help | <%= link_to 'logout', :controller => 'accounts', :action => 'logout' %><p/>
		
		<script type="text/javascript" charset="utf-8">
			function onchange_database(url) { 
					window.location = (url == "") ? '<%= databs_path %>' : url
			}
		</script>
		   my databases: 
		   <select onchange="onchange_database(this.value)" class="database-selector" accesskey="d">
				<option value=""></option>
				<% Datab.all.each do |db| %>
				  <% selected = (@datab and @datab.name == db.name) %>
					<option value="<%= datab_url(db.id) %>"<%= 'selected="selected"' if selected %>>
					  <%= db.name %>
					</option>
				<% end %>
			</select>
	</div>
	<ul class="menu">
		<% if controller.controller_name == "databs" %>
			<li class="current">Dashboard</li>
		<% else %>
			<li><%= link_to 'Dashboard', datab_path(@datab) %></li>
		<% end %>
		<% if controller.controller_name == "sqls" %>
			<li class="current">SQL Query</li>
		<% elsif !@datab.new_record? %>
			<li><%= link_to 'SQL Query', new_datab_sql_path(@datab) %></li>
		<% end %>
		<li>Import Export</li>
		<li>Report</li>
	</ul>
</div>