<div class="header">
	<h1><i>rb</i>DB</h1>

	<div class="db-selection">
		<script type="text/javascript" charset="utf-8">
			function onchange_database(url) {  
		  window.location = url
			}
		</script>
		
		   <%= image_tag 'database_lightning.png', :title => 'Select your database' %> Change database <select onchange="onchange_database(this.value)" class="database-selector">
				<% Datab.all.each do |db| %>
					<option value="<%= datab_url(db.id) %>"><%= db.name %></option>
				<% end %>
			</select>
	</div>
	<ul class="menu">
		<% if controller.controller_name == "databs" %>
			<li class="current">Dashboard</li>
		<% else %>
			<li><%= link_to 'Dashboard', datab_path(@datab) %></li>
		<% end %>
		<% if controller.controller_name == "sqls" %>
			<li class="current">SQL Query</li>
		<% else %>
			<li><%= link_to 'SQL Query', new_datab_sql_path(@datab) %></li>
		<% end %>
		<li>Import Export</li>
		<li>Report</li>
	</ul>
</div>