<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>rbDB - <%= @title || controller.action_name  %></title>
  <%= stylesheet_link_tag 'application', 'tables', 'scaffold', 'sqls' %>
  <%= javascript_include_tag :defaults, 'table_navigator', 'editable', 'sorttable' %>
</head>
<body>
<%= render :partial => '/layouts/header' %>
<table class="layout" cellspacing="0">
	<tr>
		<td class="content">
			<p style="color: green"><%= flash[:notice] %></p>
			<div class="title_zone">
			<h2><%= @title || controller.action_name  %></h2>
			<% if (submenu =  yield :submenu) %>
            <ul class="submenu">
            	<%= submenu %>
            </ul>
			<% end %>
			
			</div>
			<div style="width:1000px; overflow:auto"><%= yield  %></div>
		</td>
		<td class="sidebar">
			<%= yield(:sidebar) || "Rien a afficher" %>
		</td>
    </tr>
	<tr><td class="bottom"></td><td class="corner"></td></tr>
</table>
<div class="footer">
	rbDB, for railsrumble 2008. Vote for us!
</div>
<%= render :partial => '/sqls/last_queries', :object => @sqls %>
</body>
</html>
