<h2>What is it?</h2>

<p><strong>rbDB</strong> is a web-based mySQL administration tool written in ruby</p>

<h2>Why this project ?</h2>
<p>We found phpMyAdmin boring, ugly and feature-less</p>

<h2>So what the difference ?</h2>
<ul>
	<li>Smart browsing between tables</li>
	<li>Smart display of foreign key and fields</li>
	<li>Smart graphs and relation between tables</li>
	<li>Quick access to databases and tables</li>	
	<li>Memorize the last tables visited and SQL queries executed</li>
	<li>In place edit on field</li>
	<li>No need of PHP anymore on your production server !</li>
</ul>
<div class='screenshots'>
	<%= link_to(image_tag("screen-1m.jpg"), '/images/screen-1.jpg') %>
	<%= link_to(image_tag("screen-2m.jpg"), '/images/screen-2.jpg') %>
	<%= link_to(image_tag("screen-3m.jpg"), '/images/screen-3.jpg') %>
	<%= link_to(image_tag("screen-4m.jpg"), '/images/screen-4.jpg') %>
	<%= link_to(image_tag("screen-5m.jpg"), '/images/screen-5.jpg') %>
</div>
<h2>There is more ?</h2>
<ul>
	<li>Designed restfully</li>
	<li>Classic features you need like custom SQL requests</li>
	<li>Open-sourced and maintained if you like it and <%= link_to "make us win", "http://sociallibrary.vote.railsrumble.com" %> </li>
</ul>  
<%= link_to "Goto to the demo application", {:action => :login}, :class => 'demo-link' %>
