<% if flash[:error]%>
	<p class="error"><%= flash[:error] %></p>
<% end %>
<div class="welcome">
	<p>Hey you,</p>
	<p>this project is still at a early stage and you might find bugs in it.<br/>
	If you have anything to say to help us improve this project, please visit our
	<%= link_to 'our bug tracker', 'http://rbdb.lighthouseapp.com' %>
	</p>
</div>
	<div class="form">
	<% unless session[:authenticated] %>
		<% form_tag do -%>
		<p><label for="username">login</label></p>
		<%= text_field_tag 'username', nil%>
		<p><label for="password">password</label></p>
		<%= password_field_tag 'password', nil%>
		<p><label for="host">host</label></p>
		<%= text_field_tag 'host', 'localhost'%>
		<p><%= submit_tag 'Connexion', :class => 'submit' %></p>
		<script type="text/javascript">
		//<![CDATA[
		$("username").focus()
		//]]>
		</script>
		<% end %>                
	 <% else %>
	You are already connected as <%= session[:username] %>, you must first <%= link_to 'logout', :action => 'logout' %> to change your credentials.<br/>
	Or jump to the <%= link_to 'database list', :controller => '/databs' %>
	<% end %>
	</div>